header img {
  height: 50px;
}

header {
padding: 8px 25px 8px 15px;
display: flex;
justify-content: space-between;
background-color: white;
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

header ul {
  margin: 12px 0 0 0;
  display: block;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}


header a {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    padding: 8px 10px;
}

header button {
  display: block;
  border: none;
  border-radius: 50px;
}

header button.login {
  margin-right: 15px;
}

button:focus {
  outline: none;
}


footer {
  height: 180px;
  padding: 40px 100px;
  background:black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px 1fr;
  justify-content: center;
  align-content: center;
}

footer img {
  height: 23px;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.contact-footer {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.follow-footer {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.footer-footer {
  grid-column: 1/-1;
  grid-row: 2;
  border-top: 1px solid white;
}

footer h2 {
  margin-top: 3px;
  color:white;
  font-size: 0.8em;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3px;
}

footer p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  line-height: 18px;
  font-weight: 700;
}


footer a {
  font-size: 1em;
  text-decoration: none;
  color: white;   
  font-family: Roboto, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3px;
}

footer button {
  background: black;
  border: none;
  margin-right: 20px;
}

footer button:nth-child(3) {
  background: black;
  border: 2px solid white;
  width: 180px;
  padding: 1em;
  margin-top: 2em;
  border-radius: 5em;
  transition: color 0.6s, transform 0.3s;
}

footer button:nth-child(3):hover {
  transform: translateY(-1px);
}

.follow-footer img {
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
