body {
    background-image: linear-gradient(147deg, #43cea2 0%, #185a9d 74%);
  }

.target-registration {
    border-radius: 20px;
    margin: 30px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 1fr 38px;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.target-registration button {
    background-image: linear-gradient(147deg, #39B2A1 0%, #1A629E 74%);
    width: 200px;
    padding: 1em;
    border-radius: 5em;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}

.target-registration button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target-registration button:focus {
    outline: none;
}

.target-registration button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
}

.loguearse {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.loguearse button:nth-child(1) {
    margin-right: 20px;
}

.form-registration {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.form-registration fieldset {
    border: none;
}

.form-registration fieldset label[for=email], label[for=password], label[for=name], label[for=lastname1], label[for=lastname2], label[for=gender], label[for=code], label[for=phone], label[for=repeat-password], label[for=club]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.form-registration fieldset input[type=text], input[type=password], input[type=email]   {
    width: 400px;
    padding: 1em;
    border-radius: 5em;
    background-color: #F9F9F9;
    border: none;
}

.form-registration select {
    width: 420px;
    border-radius: 5em;
    background-color: #F9F9F9;
    border: none;
}

label[for=terms]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px; 
    margin-bottom: 10px;
}

.enter {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
}

.enter button {
    margin-bottom: 20px;
    text-align: center;
}


.enter a {
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.switch {
    display: inline-block;
    height: 10px;
    position: relative;
    width: 26px;  
    top: 2.5px;
    margin-right: 10px;
}
  
.switch input {
    display:none;
}
  
.slider {
    background-color: lightgrey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: black;
    bottom: -2px;
    content: "";
    height: 15px;
    position: absolute;
    transition: .4s;
    width: 15px;
}
  
input:checked + .slider {
    background-color: #35A8A1;
}
  
input:checked + .slider:before {
    transform: translateX(13px);
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#form-lastname2-register-father {
    margin-bottom: 50px;
}

#form-phone-register-father {
    margin-bottom: 50px;
}


#form-lastname2-register-assistant {
    margin-bottom: 50px;
}

#form-phone-register-assistant {
    margin-bottom: 50px;
}

#form-lastname2-register-scout {
    margin-bottom: 50px;
}

#form-phone-register-scout {
    margin-bottom: 50px;
}

#form-club-register-scout {
    margin-bottom: 50px;
}
